.logo {
  text-align: center;
  font-size: 3rem;
}

.image-div {
  padding: 2%;
  float: left;
}

.image-div img {
  max-height: 50%;
}

.detail-div {
  margin-left: 5%;
}

.party-div {
  float: clear;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.homepage, .search {
  text-align: center;
}

.area-users, .interest-users, .search-users {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(25vw, auto);
}

.area-users img, .interest-users img, .search-users img {
  max-width: 40%;
}

.search-form input{
  width: 20px;
}

.search-form select {
  text-align: center;
  width: 100px;
}

#submit {
  width: 50px;
}

.welcome {
  text-align: center;
}