html, body {
  height: 100%;
}

.logo {
  text-align: center;
  font-size: 3rem;
}

.image-div img {
  float: left;
  max-width: 11%;
  padding: 1%;
}


.navbar {
  display: flex;
  justify-content: space-around;
}

.homepage, .search {
  text-align: center;
}

.area-users, .interest-users, .search-users {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(20vw, auto);
}

.area-users img, .interest-users img, .search-users img {
  max-width: 40%;
}

.search-form input{
  width: 30px;
}

.search-form select {
  text-align: center;
  width: 100px;
}

#submit {
  width: 50px;
}

.welcome {
  text-align: center;
}

.errors {
  color: red;
  list-style-type: none;
}


.main-div {
  height: 100%;
}


.friends-chat-panel {
  display: flex;
  flex-direction: column;
  float: right;
  width: 15%;
}

.chat{
  text-align: center;
}

.friends-list li {
  cursor: pointer;
}

.chat ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
}

.my-message {
  background-color: #1E90FF;
  color: white;
  border-radius: 5%;
  padding: 2%;
  margin: 3%;
  text-align: right;
}

.other-message {
  background-color: #d3d3d3;
  color: black;
  border-radius: 5%;
  padding: 2%;
  margin: 3%;
  text-align: left;
}

.event-detail {
  position: fixed;
  right: 20%;
  top: 21%;
}

.event-list {
  position: fixed;
  left: 5%;
  top: 21%;
}

.event-form {
  position: fixed;
  bottom: 30%;
  left: 30%;
}

.calendar-page {
  text-align: center;
}